<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>ASICS_GELChallenger_9_Royal_BlueWhiteBlack</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>ASICS GEL-Challenger® 9 - Royal Blue/White/Black
The GEL-Challenger® 9 provides exceptional comfort with Rearfoot &amp; Forefoot GEL® Cushioning Systems and outstanding stability and support with a hidden midfoot Trusstic System®. Excellent upper fit is addressed with P.H.F.™ in the collar, while synthetic leather and mesh upper materials provide enhanced breathability and flexibility. A perfect choice for that everyday tennis enthusiast.</description>
</model>
