<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>BRAILLE_ALPHABET_AZ</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>BRAILLE ALPHABET A-Z
This 26 piece Braille Alphabet set can be played 2 sided, one upper case, another one lower case. Each piece has a Braille symbol that represents each letter in the alphabet.</description>
</model>
