<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>ASICS_HyperRocketgirl_SP_5_WhiteMalibu_BlueBlack</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>ASICS Hyper-Rocketgirl™ SP 5 - White/Malibu Blue/Black
Sleek and speedy in design, the 5th rendition of the sprint favorite features a combination of mesh and hotmelt TPU overlays in the rearfoot while maintaining it's supportive synthetic leather forefoot.  The thin rubber outsole is combined with a lightweight nylon spike plate and five-pin spike design for optimal traction.  If you've got a date with velocity, we have the perfect shoes.</description>
</model>
