<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>ASICS_GELResolution_5_Flash_YellowBlackSilver</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>ASICS GEL-Resolution® 5 - Flash Yellow/Black/Silver
The pinnacle of the ASICS stability tennis line, the GEL-Resolution® 5 doesn't disappoint. The newest edition to this series features an improved Flexion Fit™ upper design providing one-of-kind upper comfort, in addition to a re-designed PGuard™ improving upper flexibility.  New to this model, a hidden Trusstic System® has been developed to allow full ground outsole contact all while providing the superb medial stability and torsional rigidity that this series is known for.  The best just got better.</description>
</model>
