<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>BIA_Cordon_Bleu_White_Porcelain_Utensil_Holder_900028</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>B.I.A Cordon Bleu White Porcelain Utensil Holder 900028
BIA Cordon Bleu Give your spatulas and serving spoons an elegant home with this 60 Oz.  Made from porcelain, this piece is resistant to chipping, cracking and staining.  The clean design and solid white glaze make this piece a classic addition to any table kitchen.</description>
</model>
